@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
	background-color: #eee;
	color: #111;
	background-image: url('../images/texture.png');
	font-family: 'Raleway', sans-serif;
}
.container.link {
    max-width: 400px;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* profile  */
.profile{
    text-align: center;
    margin-bottom: 30px;
}
.profile .avatar img{
    width: 110%;
    margin-left: -5%;
    margin-top: -5%;
}
.profile .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(150, 150, 150);
    margin: 10px auto 10px auto;
}
.profile h1{
    font-size: 20px;
}
.profile .bio{
    font-size: 14px;
}

/* titole */
h2.title{
    font-size: 20px;
}
h2.title i{
    font-size: 15px;
    color: #444;
    margin-top: 4px;
    margin-left: 5px;
    position: absolute;
}

/* pinned */
.pinned{
    margin-bottom: 30px;
}
.pinned a{
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}
.pinned a .content-link{
    padding: 20px 20px 5px 20px;
    z-index: 3;
    position: relative;
}
.pinned a h3{
    font-size: 20px;
    line-height: 1.5rem;
    text-shadow: 1px 1px 8px rgba(0,0,0,1);
    color: #fff;
    margin: 0;
}
.pinned a p{
    font-size: 14px;
    line-height: 14px;
    text-shadow: 1px 1px 8px rgba(0,0,0,1);
    color: #eee;
}
.pinned .shade{
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.7), rgba(0,0,0,1));

    width: 100%;
    height: 400px;
    position: absolute;
    top:0;
    z-index: 2;
}
.pinned a .content-banner{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:-50%;
    z-index: 1;
}
/* #pinned-blog */
.pinned #pinned-blog .content-link{
    padding-bottom: 10px;
}
.pinned #pinned-blog a .shade{
    background-color: #fff;
    background-image: none;
}
.pinned #pinned-blog a h3{
    color: #333;
    text-shadow: none;
}
.pinned #pinned-blog a p{
    color: #555;
    text-shadow: none;
    line-height: 0;
    margin-bottom: 6px;
}
.pinned #pinned-blog a{
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%);
}
.pinned-loading {
    background-color: rgb(37, 37, 37);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%);
    border-radius: 10px;
    padding: 20px 5px 0;
}

/* latest music */
.latest-music{
    background-color: #fff;
     border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
      box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
.latest-music a.items{
   display: grid;
   grid-template-columns: 30% 70%;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.04);
}
.latest-music a.items::after{
   content: '';
   display: block;
   width: 70px;
   height: 100%;
   right: 0;
   position: absolute;
   background-image: linear-gradient(to right, transparent,rgba(255,255,255,0.9), #fff);
}

.latest-music a.items .album-art{
    width: 80px;
    height: 80px;
    margin:10px;
    border-radius: 5px;
    overflow: hidden;
    display: block;
}
.latest-music a.items .album-art img{
    width: 100%;
}
.latest-music a.items .album-art .info{
   margin-bottom:10px;    
   position: absolute;
   bottom:0;
   width: 80px;
   background-color: rgba(0,0,0,0.5);
   color: #eee;
   font-weight: 100;
   text-align: center;
   text-transform: uppercase;
   font-size: 10px;
   border-radius: 0 0 5px 5px;
}
.latest-music a.items .content-link{
    padding: 10px 5px 0px 0px;
    margin-left: -7px;
    text-align: left;
}
.latest-music a.items .content-link h3{
    font-size: 20px;
    white-space: nowrap; 
    color: #000;
    line-height: 0.9rem;
    font-weight: bold;
}
.latest-music a.items .content-link p{
    font-size: 12px;
    line-height: 0px;
    font-weight: bold;  
    white-space: nowrap; 
    color: #777;
}
.latest-music .see-more{
    padding: 15px 10px;
    text-align: center;
    display: block;
    background-color: initial;
    color: #000;
    width: 100%;
    margin-left: -15px; 
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}
.latest-music a.items .release-eta{
   text-align: center;
   padding-top: 40px;   
   display: block;
   width: 100%;
   height: 60px;
   position: absolute;

   left:0;
   font-size: 16px;
   color: #000;
   z-index: 4;
   background-color: rgba(255,255,255,0.9);
}

.loading{
    padding: 10px
}

/* more update */
.more-update{
    background-color: #fff;
     border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
      box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
.more-update a.items{
   display: grid;
   grid-template-columns: 55px auto;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.04);
}


.more-update a.items .info{
    width: 30px;
    margin: 0 ;
    border-radius: 2px;
    overflow: hidden;
    display: block;
    text-align: center;
}
.more-update a.items .info.blog{
    background-color: #eee;
    color: #000;
}
.more-update a.items .info.code{
    background-color: #f75d5d;
    color: #eee;
}


.more-update a.items .title{
    padding: 10px 0px 10px 0px;
    margin-left: -7px;
    text-align: left;
    color: #000;
}

.more-update a.items i.fa{
    color: #444;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.more-update .see-more{
    padding: 10px 0px 12px 0px;
    text-align: center;
    display: block;
    width: 100%;
}

/* find me */
.find-me{
    background-color: #fff;
     border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
      box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}
.find-me ul{
    list-style-type: none;
    margin-left: -35px
}
.find-me li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0,0,0,.04);
}
.find-me a{
    color: #000;
    text-decoration: none;
}
.find-me svg {
    margin-right: 10px;
}
.find-me  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
.find-me .nav { 
    margin-top: 0
}